# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/storage/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
